.discount-section {
    margin-top: 100px;
    padding: 20px 0;
}

.discount-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 90px 24px;
    position: relative;
    justify-content: center;
}
