.header .container {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1400px;
    height: 40px;
    padding: 20px 0 20px 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 50px;
    user-select: none;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #0055FF;
}

.login-button {
    width: 100px;
    height: 37px;
    margin-right: 1px;
    background-color: #0055FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.basket-section {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.basket-section > div {
    width: 800px;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-height: 80vh;
    overflow-y: auto;
}

.basket-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.basket-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.basket-item-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-left: 20px;
    flex-grow: 1;
}

.basket-item-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0 10px;
}

.basket-item-quantity {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0 10px;
    width: 40px;
    text-align: center;
}

.basket-item-quantity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.delete-unit-button {
    background-color: #0055FF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
    width: 40px;
    text-align: center;
}

.delete-unit-button:hover {
    background-color: #066AFF;
    transform: scale(1.05);
}


.basket-item-summa {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    text-align: right;
}

.empty-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9; /* Цвет фона */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-product {
    width: 120px; /* Установите нужный размер изображения */
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px; /* Отступ снизу для изображения */
}

.no-product-text {
    font-size: 18px; /* Размер шрифта текста */
    font-weight: 500;
    color: #666; /* Цвет текста */
    text-align: center;
}
