.header .container {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1400px;
    height: 40px;
    padding: 20px 0 20px 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 50px;
    user-select: none;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #0055FF;
}

.login-button {
    width: 100px;
    height: 37px;
    margin-right: 1px;
    background-color: #0055FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.basket-section {
    position: absolute;
    top: 30px;
    left: -20px;
    width: 450px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 4px 5px 15px -7px;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
    padding-bottom: 0;
}

.basket-section > h1 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.basket-section > img {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.basket-item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.basket-item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

.basket-item-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.basket-item-price {
    color: green;
    font-weight: 600;
}

.basket-delete-icon {
    color: #ca5252;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.basket-delete-icon:hover {
    color: #d83030;
    transform: scale(1.5);
}

.basket-item-summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font: 20px Roboto;
    margin-bottom: 20px;
}